*{
font-family:"Helevetica Neue";
}

#map{
  
}

h1{
text-align:center;
font-size:50px;
  font-family:verdana;
}

p{
  font-size:0.85em;
}

svg{
  background:#266D98;
  margin-left:70px
}

.country{
  fill:#A9E8D2;
  stroke:#266D98;
    
}

.selected{
  fill:grey
}

.circle{
  stroke:white;
 opacity:0.6
}


.tooltip {
            position: absolute;
            font-size: 14px;
            width:  auto;
  padding-top:18px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:18px;
            height: auto;
            pointer-events: none;
  color:white;
            background-color: black;
}